(function() {
  "use strict";
  var nodeunit = window.nodeunit = require("nodeunit");
  var callPhantom = window.callPhantom;
  var tests;

  /**
   * `window.callPhantom` is used as the control flow communication channel
   * between the document and the PhantomJS context (where available). Because
   * of this, it should not be available to other scripts on the page.
   */
  window.callPhantom = null;

  tests = {
    {{ INJECT_TEST_INCLUDES }}
  };

  function runHeadless() {
    nodeunit.reporters.default.run(tests, {}, function(err) {
      callPhantom(err ? err : null);
    });
  }

  function runHeadful() {
    var reporter = require("nodeunit/lib/reporters/browser");
    reporter.run(tests);
  }

  if (/PhantomJS/.test(navigator.userAgent)) {
    runHeadless();
  } else {
    runHeadful();
  }
}());
